<nav class="navbar navbar-expand-lg py-3" style="background-color: #003049;">
  <img src="assets/baby.png" class="img-fluid-custom" alt="baby" style="width: 8.1rem; height: auto;">
  <div class="container-fluid px-5">
    <a class="navbar-brand fs-1 fw-bold" style="color: #FDF0D5" href="#">
      OKOlandia
    </a>
    <ul class="navbar-nav mx-auto d-flex flex-row gap-4">
      <li class="nav-item dropdown-hover">
            <a class="nav-link" style="color: #FDF0D5;" href="/about">O NAS</a>
            <ul class="dropdown-menu-custom">
                <li><a href="/about/Monika">Monika Oziębło Kupczyk</a></li>
                <li><a href="/about/Danuta">Danuta Sielicka</a></li>
                <li><a href="/about/john">John Doe</a></li>
            </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FDF0D5;" routerLink='/appointments/create'>UMÓW WIZYTĘ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FDF0D5;" href="#">ZAKRES USŁUG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FDF0D5;" href="#">GALERIA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FDF0D5;" href="#">KONTAKT</a>
      </li>
    </ul>

    <!-- Przyciski po prawej -->
     @if (!isLogged) {
      <div class="d-flex gap-3" style="padding-right: 3rem;">
      <button class="btn btn-outline-light rounded-pill px-4 custom-button-login" [routerLink]="'/login'">
        Zaloguj się
      </button>
      <button class="btn custom-button-register rounded-pill px-4" [routerLink]="'/register'">
        Zarejestruj się
      </button>
    </div>
     }
     @else {
      <button class="btn custom-button-register rounded-pill px-4" [routerLink]="'/appointments'">
        Twoje wizyty
      </button>
      <button class="btn custom-button-register rounded-pill px-4" [routerLink]="'/'" (click)="logout()">
        Wyloguj
      </button>
     }

  </div>
</nav>


