.navbarlist {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    justify-self: center;
}
.navbar {
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0 2rem;
    color: #FDF0D5;
}
.navbar h3 {
    margin: 0;
    font-size: 2.5rem;
    justify-self: start;
    padding: 0 5rem;
    color: #003049
}
.buttons{
    display: flex;
    gap: 1rem;
    justify-self: end;
    padding: 0 5rem;
}
.custom-button-login{
    color: #FDF0D5;
    border: none;
    border-radius: 18px !important;
}
.custom-button-register{
    color: #FDF0D5;
    background-color: #C1121F;
    border: none;
    border-radius: 18px;
}
.custom-button-login:hover, .custom-button-login:active{
    background-color: #C1121F !important;
    border-radius: 18px !important;
}