.navbar {
  background-color: #003049 !important;
  height: 5rem;
}

.navbar-brand {
  color: #669bbc !important;
  font-size: 2.5rem !important;
}

.nav-link {
  color: #FDF0D5 !important;
  transition: background-color 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.nav-link:hover {
  background-color: rgba(193, 18, 31, 0.2);
}

.custom-button-login {
  color: #FDF0D5 !important;
  border-color: #FDF0D5 !important;
}

.custom-button-login:hover,
.custom-button-login:active {
  background-color: #C1121F !important;
  border-color: #C1121F !important;
  color: #FDF0D5 !important;
}

.custom-button-register {
  background-color: #C1121F !important;
  color: #FDF0D5 !important;
  border: none !important;
}

.custom-button-register:hover,
.custom-button-register:active {
  background-color: #a00f1a !important;
}