<nav class="navbar navbar-expand-lg py-3" style="background-color: #003049;">
  <div class="container-fluid px-5">
    <a class="navbar-brand fs-1 fw-bold" style="color: #FDF0D5; padding-left: 3rem;" href="#">
      OKOlandia
    </a>
    <ul class="navbar-nav mx-auto d-flex flex-row gap-4">
      <li class="nav-item">
        <a class="nav-link" style="color: #FDF0D5;" href="#">O NAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FDF0D5;" href="#">UMÓW WIZYTĘ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FDF0D5;" href="#">ZAKRES USŁUG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FDF0D5;" href="#">GALERIA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FDF0D5;" href="#">KONTAKT</a>
      </li>
    </ul>

    <!-- Przyciski po prawej -->
    <div class="d-flex gap-3" style="padding-right: 3rem;">
      <button class="btn btn-outline-light rounded-pill px-4 custom-button-login">
        Zaloguj się
      </button>
      <button class="btn custom-button-register rounded-pill px-4">
        Zarejestruj się
      </button>
    </div>
  </div>
</nav>


