.footer {
  background-color: #003049 !important;
}

.desc {
  text-align: justify;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .footer .row {
    text-align: center;
  }
  
  .desc {
    text-align: center;
  }
}