<footer class="footer">
    <nav>
        <ul class="leftlist">
            <li>O NAS</li>
            <li class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non ipsum ac mi interdum sodales. Donec nec dolor ligula. Nulla gravida euismod odio, vitae sollicitudin sem imperdiet nec. Nullam at malesuada ligula.</li>
        </ul>
        <ul class="middlelist">
            <li>KONTAKT</li>
            <li>Telefon:+48 432 432 422</li>
            <li>Adres: KEN 18, Białystok </li>
            <li>Email: Okolandia@wp.pl</li>
        </ul>
        <ul class="rightlist">
            <li>GODZINY OTWARCIA</li>
            <li>pon-pt: 10 - 18</li>
            <li>sob: 9 - 13</li>
        </ul>
    </nav>
    <div class="footer-bottom">
        <p>&copy; 2026 OKOlandia. Wszelkie prawa zastrzeżone.</p>
    </div>
</footer>
