::ng-deep .mat-datepicker-content {
  background-color: white !important;
}

::ng-deep .mat-calendar {
  background-color: white !important;
}

::ng-deep .mat-calendar-body-disabled {
  opacity: 0.2 !important;
  text-decoration: line-through !important;
}